@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'head-title1-medium';
  src: url('../src/assets/font/HyundaiSansHeadKRMedium.ttf');
}
@font-face {
  font-family: 'head-title1-medium';
  src: url('../src/assets/font/HyundaiSansHeadKRMedium.ttf');
}
