@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-weight: 400;
  src:
    local('Hyundai Sans Head KR'),
    url('/src/assets/font/HyundaiSansHeadKRRegular.woff2') format('woff2'),
    url('/src/assets/font/HyundaiSansHeadKRRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-weight: 500;
  src:
    local('Hyundai Sans Head KR'),
    url('/src/assets/font/HyundaiSansHeadKRMedium.woff2') format('woff2'),
    url('/src/assets/font/HyundaiSansHeadKRMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Hyundai Sans Text KR';
  font-weight: 400;
  src:
    local('Hyundai Sans Text KR'),
    url('/src/assets/font/HyundaiSansTextKRRegular.woff2') format('woff2'),
    url('/src/assets/font/HyundaiSansTextKRRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hyundai Sans Text KR';
  font-weight: 500;
  src:
    local('Hyundai Sans Text KR'),
    url('/src/assets/font/HyundaiSansTextKRMedium.woff2') format('woff2'),
    url('/src/assets/font/HyundaiSansTextKRMedium.ttf') format('truetype');
}

@layer base {
  html {
    font-family: 'Hyundai Sans Text KR';
    font-weight: 400;
    line-height: 130%;
  }
}
