@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-weight: 400;
  src:
    local('Hyundai Sans Head KR'),
    url('../src/assets/font/HyundaiSansHeadKRRegular.woff2') format('woff2'),
    url('../src/assets/font/HyundaiSansHeadKRRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-weight: 500;
  src:
    local('Hyundai Sans Head KR'),
    url('../src/assets/font/HyundaiSansHeadKRMedium.woff2') format('woff2'),
    url('../src/assets/font/HyundaiSansHeadKRMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Hyundai Sans Text KR';
  font-weight: 400;
  src:
    local('Hyundai Sans Text KR'),
    url('../src/assets/font/HyundaiSansTextKRRegular.woff2') format('woff2'),
    url('../src/assets/font/HyundaiSansTextKRRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hyundai Sans Text KR';
  font-weight: 500;
  src:
    local('Hyundai Sans Text KR'),
    url('../src/assets/font/HyundaiSansTextKRMedium.woff2') format('woff2'),
    url('../src/assets/font/HyundaiSansTextKRMedium.ttf') format('truetype');
}

@layer base {
  html {
    font-family: 'Hyundai Sans Text KR';
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.48px;
  }
}

@layer utilities {
  .glassmorph {
    @apply bg-gradient-to-r from-white/20 to-white/0 backdrop-blur-[6px]
    before:content-[''] before:absolute before:p-2px before:inset-0 before:rounded-6px drop-shadow-[0_10px_16px_rgba(0,0,0,0.2)];
  }
  .glassmorph::before {
    background: linear-gradient(
      320deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(224, 224, 224, 0) 35%,
      rgba(0, 214, 214, 0) 65%,
      rgba(225, 225, 225, 1) 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
